{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "lf",
    "plugins": ["./node_modules/@trivago/prettier-plugin-sort-imports"],
    "importOrder": ["^@mui/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "experimentalBabelParserPluginsList": ["jsx", "typescript", "classProperties"]
}
